*{
	margin: 0;
	padding: 0;
}
header{
	width: 100%;
	height: 45px;
	background-color: #880404;
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #a86c6c;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #880404;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #a86c6c;
  background-color: transparent;
  text-decoration: underline;
}
nav{
	width: 100%;
	height: 45px;
	background-color: #880404;
	line-height: 44px;
}
nav ul{
	float: right;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	transition: 0.7s ease;
}
nav ul li a{
	text-decoration: none;
	color: #FFFFFF;
	padding: 30px;
	font-family: verdana, sans-serif;
}
nav ul li:hover{
	background-color: #a86c6c;
}
usl li{
	list-style-type: none;
}
usl li a{
	text-decoration: none;
	color: #000;
	font-size: 45px;
	padding: none;
	font-family: Georgia, "Times New Roman", Times, sans-serif;
}
p1{ 
	text-decoration: none;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 36px;
	padding: 10px;
}
usl h2{
text-decoration: none;
	color: #000;
	font-size: 20px;
	padding: none;
}
div p{
	color: #000;
	font-size: 16px;
	font-family: Trebuchet MS, sans-serif;
}
div ul li{
	color: #000;
	font-size:16px;
	font-family: Trebuchet MS, sans-serif;
}
.logo img{
	float: left;
	width: 50px;
	height: 45px;
}
.main{
	max-width: 1050px;
	margin: auto;
}
article{
	max-width: 1050px;
	margin: auto;
}
#content {
	width: 800px;
 	height: 250px;
}
img {
float: left;
}
div ull li{
	color: #000;
	font-size: 15px;
	font-family: Trebuchet MS, sans-serif;
}
h2 {
	font-size: 20px;
	font-family: Trebuchet MS, sans-serif;	
	margin-bottom: 10px;
	padding-bottom: 7px;
	border-bottom: 1px dotted #FFFFFF;
}
ol {
	color: #000;
	font-size: 15px;
	margin-left: 15px;
	font-family: Trebuchet MS, sans-serif;
}
table {
  border-collapse: collapse;
  padding: 10px;
}

td {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}
th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: center;
}
